@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,600,800");

.left {float: left;}
.right {float: right;}
.clear {clear: both;}

.cravenDefenseContainer {
    position: relative;
    width: 600px;
    height: 400px;
}

#cravenDefense {
	position: relative; 
    height: 100%;
    width: 100%;
	background: url('../img/cd-bg.png') no-repeat;
	box-shadow: 4px 4px 3px #888888;
}

.btn {
    position: absolute;
    bottom: 0;
    right: 0;
}