@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,600,800");

.left {float: left;}
.right {float: right;}
.clear {clear: both;}

#cravenDefense {
	position: relative; 
	width: 600px; 
	height: 300px; 
	background: url('../img/cd-bg.png') no-repeat;
	box-shadow: 4px 4px 3px #888888;
}

#start-wave {
	/*position: absolute;*/
	bottom: 10px;
	right: 10px;
}